@import "../../assets/styles/DefaultStyleVariables.scss";

.main{
  width: $width;
  height: $height;
  background-attachment: fixed;
  background-image: url("../../assets/images/mainBg.png");
  .headingWrap{
    position: absolute;
    width: $width;
    height: $height;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
      .heading{
        position: sticky;
        top: 50px;
        display: inline-block;
        text-align: center;
        color: #fff;
        font-size:4vw;
        animation: typingCursur infinite 1.5s;
      // }
    }
  }
}

@keyframes typingCursur{
  0%{
    border-right: 5px solid #fff;
  }
  50%{
    border-right: 5px solid rgba(0,0,0,0.7);
  }
  100%{
    border-right: 5px solid #fff;
  }
}