@import "../../assets/styles/DefultStyles.scss";
.off{
  display: none;
}
.on{
  display: block;
}
head{
  overflow: hidden;
}
.header{
  position: fixed;
  top: 0px;
  right: 20PX;
  display: flex;
  height: 50PX;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0 0 5px 5px;
  z-index: 1;
  animation: openingHead 1.2s ease-in-out both;
  li{
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
  }
}
@media(max-width:$media){
  .header{
    display: none;
  }
}
@keyframes openingHead{
  0%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0px);
  }
}