.btn{
  position: fixed;
  opacity: 0;
  bottom: 50px;
  right: 50px;
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  transition: all 1s;
  transform: rotate(-135deg);
  background-color: inherit;
  animation: upDown 2s infinite ;
}
.active{
  opacity: 1;
}
@keyframes upDown{
  0%{
    bottom: 50px;
  }
  50%{
    bottom: 60px;
  }
  100%{
    bottom: 50px;
  }
}