@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
body,h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
.a11yHidden{
  overflow: hidden; position: absolute; clip: rect(0 0 0 0); /* IE 6,7 */ 
  clip: rect(0,0,0,0); 
  width: 1px; 
  height: 1px;
  margin: -1px; border: 0; padding: 0;
}
a {color: #fff; text-decoration: none; outline: none}

a:hover, a:active {text-decoration: none;}


button:focus{
  outline: none;
}

