*{
  box-sizing: border-box;
}
body,h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
.a11yHidden{
  overflow: hidden; position: absolute; clip: rect(0 0 0 0); /* IE 6,7 */ 
  clip: rect(0,0,0,0); width: 1px; height: 1px; margin: -1px; border: 0; padding: 0;
}
$width: 100%;
$height : 100vh;
$media : 850px;